@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 3%, #5a1007 100%);
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*header*/
.header-cont {
    width: 100vw;
    height: 50px;
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 3%, #470e06 100%);
    margin-bottom: 20px;
    display: flex;

}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    color: white;
}

h1 {
    color: white;
    font-size: 1.3rem;
    width: 30%;
    margin-left: 10%;

}

footer {
    position: absolute;
    bottom: 0;
    display: table;
    width: 100%;
    text-align: center;
    color: rgb(124, 124, 124);
}

/*For the searchbar*/
.coin-input {
    width: 20%;
    background-color: transparent;
    outline: none;
    color: white;
    height: 30px;
    border: 1px solid rgb(44, 0, 0);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(54, 0, 0, 0.5);
    padding-left: 10px;

}
.coin-input::placeholder {
    color: rgb(163, 163, 163);
}

.search-coin {
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}

/*coinheader*/
.coin-header {
    width: 70%;
    height: 40px;
    color: rgb(190, 190, 190);
    text-align: start;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 5px 10px;
}

.coin-title {
    margin-left: 6.5%;
}

.ticker {
    margin-left: 11%;
    max-width: 10%;
    min-width: 10%;
}

.title-price {
    margin-right: -20px;
    max-width: 10%;
    min-width: 10%;
}

.title-change {
    max-width: 15%;
    min-width: 15%;
    margin-right: 30px;

}

.title-volume {
    margin-right: 50px;
    max-width: 15%;
    min-width: 15%;
}

.title-marketcap {
    margin-right: -30px;
    max-width: 15%;
    min-width: 15%;
}


.coin-app {
    height: 84vh;
    overflow: hidden;
}
/*For the coin container*/
.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgb(71, 0, 0);
    width: 70%;
}

.coin {
    display: flex;
    align-items: center;
    min-width:70%;
    max-width: 70%;
}

.coin h1 {
   font-size: 1.1rem;
   max-width: 20%;
   min-width: 20%;
   margin-left: -0.1%;
   white-space: nowrap;
   overflow: hidden;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 5%;
}

.coin-symbol {
    font-size: 1rem;
    color: white;
    margin-left: 5%;
    max-width: 10%;
    min-width: 10%;
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-left: -35%;

}

.coin-price {
    max-width: 10%;
    min-width: 10%;
}


.coin-percent {
    min-width: 100%;
    text-align: center;
    margin-left: -35%;
}

.red {
    color: rgb(255, 0, 43);
}

.green {
    color: rgb(7, 255, 7);
}

.coin-volume {
    min-width: 100%;
    margin-left: -70%;
}

.coin-marketcap {
    min-width: 100%;
    margin-left: -65%;
}
